{% extends "app/layout.html" %}
{% block content %}
{% load staticfiles %}
<h2>{{post_1.title}}</h2>
{% if post_1.image and post_1.image.url != "/media/temp.jpg" %}
    <img src="{{post_1.image.url}}" alt="Картинка" width="300" height=" 200" />
{% endif %}

{% autoescape off %}
<p> {{ post_1.content|linebreaksbr }} </p>
{% endautoescape %}


{% if user.is_authenticated %}
    <h3>Добавить комментарий</h3>
    <form method="POST">
        {% csrf_token %}
        <div>
            {{form.as_p}}
            <button type="submit" class="save btn btn-default">Отправить комментарий</button>
        </div>
    </form>
{% else %}
    <h3>Для добавления комментария,авторизуйтесь.</h3>
{% endif %}

<div class="comment">
{% for comment in comments %}

<h5>{{comment.author}}</h5>
<h4>{{comment.text|linebreaksbr}}</h4>
<h7>{{comment.date}}</h7>
{% endfor %}
</div>
<br><br />

<p><a href="{% url 'blog' %}">Назад</a></p>
{% endblock %}